<% obj.each do |article| %>
    <div class="row article" >
        <div class="thumbnail">
          <% @users.each do |user| %>
            <% if current_user != article.user && logged_in? %>
              <div class="favorites">
                <a href="#" >
                  <i class="glyphicon glyphicon-star-empty fav"></i>
                </a>
              </div>
              <% break %>
            <% end %>
          <% end %>
          <span class="data-id"><%= article.id %></span>
          <% if article.categories.any? %>
            <small><%= render article.categories %></small>
          <% end %>
          <h3><%= link_to article.title, article_path(article) %></h3>
          <p><%= truncate(article.description, length: 400) %></p>
          <div class="article-details">
            <small class="mb5">
              BY: <%= link_to article.user.username.upcase, user_path(article.user) %> |
              <!-- <%= article.user.username.upcase if article.user %> | -->
            </small>
            <small class="grey">
              <%= time_ago_in_words(article.created_at).upcase %> AGO,
            </small>
            <small class="grey">
              UPDATED: <%= time_ago_in_words(article.updated_at).upcase %> AGO
            </small> |
            <small class="grey">
               <%= link_to article.comments.count, article_path(article)  %>
              <span class="glyphicon glyphicon-comment"></span>
            </small>
            
          </div>

          <div class="caption">
            <% if logged_in? && (current_user == article.user || current_user.admin?) %>
              <div class="buttons">
                <%= link_to 'Edit', edit_article_path(article) %>
                <%= link_to 'Show', article_path(article) %>
                
                  <%= link_to 'Delete', article_path(article), method: :delete,
                  data:{confirm: "Are you sure?"} %>
                
              </div>
            <% end %>
          </div>
        </div>
    </div>
<% end %>