
<div class="container" id="cardArticle"> 
  <div class="row article show">
      <div class="thumbnail">
          <% @users.each do |user| %>
          <% if current_user != @article.user && logged_in? %>
            <div class="favorites">
              <a href="#" >
                <i class="glyphicon glyphicon-star-empty fav"></i>
              </a>
            </div>
            <% break %>
          <% end %>
        <% end %>
        <span class="data-id"><%= @article.id %></span>
        <h3><%= @article.title %></h3>
        <% if @article.user %>
          <ul class="">
            <div class="colum">
              <div class="right">
                <p><%= link_to gravatar_for(@article.user), user_path(@article.user) %></p>
                <p class="article-title">
                </p>
              </div>
              <div class="left">
                  <%= link_to@article.user.username, user_path(@article.user) %>
                  <p><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></p>
              </div>
            </div>
          </ul>
        <% end %>
        <div class="center">
          <%= simple_format(@article.description) %>
          <% if @article.categories.any? %>
            <small>Categories: <%= render @article.categories %></small>
          <% end %>
        </div>
        <div class="caption">
            <div class="columnBtn">
              <% if logged_in? && (current_user == @article.user || current_user.admin? ) %>
                <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-primary ml20" %> 
                <%= link_to 'Delete', article_path(@article), class:"btn btn-primary ml20", method: :delete,
                  data:{confirm: "Are you sure?"} %>
              <% end %>
                <%= link_to 'View all articles', articles_path, class:"btn btn-primary ml20" %>
              </div>
        </div>
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">Recent Comments</h3>
                <span class="label label-info">
                  <strong><%= @article.comments.count %></strong>
                </span>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <%= render @article.comments %>
                </li>
              </ul>
              <div class="container">
                <h3>Leave a reply</h3>
                <%= render 'comments/form' %>
              </div>
                <!-- <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a> -->
            </div>
          </div>
      </div>
  </div>
</div>

<script>
    new addArticle();
  </script>