
<div class="container" id="cardArticle"> 
  <div class="row article show">
      <div class="thumbnail">
          <% @users.each do |user| %>
          <% if current_user != @article.user && logged_in? %>
            <div class="favorites">
              <a href="#" >
                <i class="glyphicon glyphicon-star-empty fav"></i>
              </a>
            </div>
            <% break %>
          <% end %>
        <% end %>
        <span class="data-id"><%= @article.id %></span>
        <h3><%= @article.title %></h3>
        <% if @article.user %>
          <ul class="listing">
            <div class="row">
              <div class="">
                <li>Created by:</li>
                <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
                <li class="article-title">
                  <%= link_to@article.user.username, user_path(@article.user) %>
                </li>
                <li><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></li>
              </div>
            </div>
          </ul>
        <% end %>
        <div class="center">
          <%= simple_format(@article.description) %>
        </div>
        <div class="caption">
            <div class="columnBtn">
              <% if logged_in? && current_user == @article.user %>
                <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-primary ml20" %> 
                <%= link_to 'Delete', article_path(@article), class:"btn btn-primary ml20", method: :delete,
                  data:{confirm: "Are you sure?"} %>
              <% end %>
                <%= link_to 'View all articles', articles_path, class:"btn btn-primary ml20" %>
              </div>
        </div>
      </div>
  </div>
</div>

<script>
    new addArticle();
  </script>