
<%= render 'shared/errors', obj: @user %>
    <%= form_for(@user, :html => {class: "formSignUp", row: ""}) do |f| %>
    <div class="login">
      <div class="logoSignUp">
        <span> <\CODE\> </span>
      </div>
      <div class="title">
        APPBLOG
      </div>
      <div class="sub-title">
        Keep up!!
      </div>
      <div class="fields">
        <div class="form-group">
          <%= f.label :username %> 
          <i class="fa fa-user-circle"></i>
          <%= f.text_field :username, class:"username", rel:"username", placeholder: "Enter Username", autofocus: true %>
        </div>
        <div class="form-group">
          <%= f.label :email %> 
          <i class="fa fa-envelope-o"></i>
          <%= f.email_field :email, class:"email", rel:"email",placeholder: "Enter email"%>
        </div>
        <div class="form-group">
          <%= f.label :password %> 
          <i class="fa fa-lock"></i>
          <%= f.password_field :password, class:"password", rel:"pass", placeholder: "Enter password"%>
        </div>
      </div>
      <div class="flex">
        <%= f.submit(@user.new_record? ? "Sign up" : "Update account", id: "", class:"btnSubmit") %> 
        <%= link_to 'Back to the list', articles_path, class:"backList" %> 
      </div>
    </div>
<% end %>