<div class="container">
  <h2 class="mt15">Welcome to <%= @user.username %>'s page </h2>
  <div class="user-profile" align="center">
    <%= gravatar_for @user, size: 150 %>
  </div>
  <div class="center">
    <h4 align="center"><%= @user.username %>'s articles</h4>
  <small><strong><% if @user.admin? %> Admin Email: <% else %> Email: <% end %><%= @user.email %></strong></small>
  <p>
    <small><%= pluralize(@user.articles.count, "article") if @user.articles %></small>
  </p>
  </div>
  <div align="center">
    <%= will_paginate @user_articles %>
  </div>
  <div class="newArticle" id="cardArticle">
    <%= render 'articles/article', obj: @user_articles %>
  </div>
  <div align="center">
    <%= will_paginate @user_articles %>
  </div>
</div>

<script>
    new addArticle();
</script>