<div class="navigation">
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="navegacion">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "APP Blog", root_path, class: "navbar-brand page-scroll", id: "logo" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li class="">
                      <%= link_to "Articles", articles_path, class: "page-scroll" %>
                    </li>
                    <!-- <li class="">
                      <%= link_to 'About', about_path, class: "page-scroll"  %>
                    </li> -->
                    <li class="">
                      <%= link_to 'Users', users_path, class: "page-scroll"  %>
                    </li>
                    <% if logged_in? %>
                      <!-- <li class="">
                        <%= link_to 'Log Out', logout_path, method: :delete, class: "page-scroll"  %>
                      </li> -->
                      <li class="submenu">
                        <a href="#" id="img-article" class="page-scroll">Favorites</a>
                        <div id="articles">
                          <table class="u-full-width" id="list-articles">
                            <thead>
                              <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody></tbody>
                          </table>
                          <a href="#" id="clean-articles" class="u-full-width ground">Clean Articles</a>
                        </div>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle page-scroll" 
                            data-toggle="dropdown" 
                            role="button" aria-haspopup="true" 
                            aria-expanded="false">Categories
                          </a>
                          <ul class="dropdown-menu dropProfile" id="displayProfile">
                            <li><%= link_to "All Categories", categories_path %> </li>
                            <% Category.all.each do |category| %>
                              <li><%= link_to "#{category.name}", category_path(category) %></li>
                            <% end %>
                            <% if logged_in? and current_user.admin? %>
                            <li role="separator" class="divider"></li>
                            <li><%= link_to "Create New Category", new_category_path %> </li>
                            <% end %>
                          </ul>
                        </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle page-scroll" 
                          data-toggle="dropdown" 
                          role="button" aria-haspopup="true" 
                          aria-expanded="false">Profile <%= "Admin" if current_user.admin? %>
                          
                        </a>
                        <ul class="dropdown-menu dropProfile" id="displayProfile">
                          <li><%= link_to "Edit profile", edit_user_path(current_user) %> </li>
                          <li><%= link_to "View profile", user_path(current_user) %> </li>
                          <li role="separator" class="divider"></li>
                          <li class="">
                            <%= link_to 'Log Out', logout_path, method: :delete, class: "page-scroll"  %>
                          </li>
                        </ul>
                      </li>
                      <% else %>
                      <li>
                        <%= link_to 'Log in', login_path, class: "page-scroll"  %>
                      </li>
                      <li>
                        <%= link_to 'Sign up', signup_path, class: "page-scroll"  %>
                      </li>
                    <%end%>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

<script>
  new deleteArticle()
  new cleanArticles()
  new loadLocalStorage()
</script>